<a href="https://colab.research.google.com/github/youmnaayman21/iti-P/blob/main/T1_ITI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 3
num2 = 4
num3 = 5

print( num1 + num2)
print( num3 - num1)
print(num1 * (num2 + num3))
print(num1 * num2 + num3)
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7
2
27
17
1.6666666666666667
1
2

In [ ]:
num1 = float(num1)
num2 = float(num2)
num3 = float(num3)

print(num1 + num2)
print(num3 - num1)
print(num1 * (num2 + num3))
print(num1 * num2 + num3)
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7.0
2.0
27.0
17.0
1.6666666666666667
1.0
2.0

In [ ]:
x=1
y=2
z=3
g=4
print(x + y / z * g)
print(y ** z)

3.6666666666666665
8

In [ ]:
num1 = -5
num2 = 3.2
num3 = 5.7
num4 = 625

print(abs(num1))

# Round to nearest integer
print(round(num2))
print(round(num3))

import math
print(math.sqrt(num4))

5
3
6
25.0

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print(a * b)

Enter first number: 2
Enter second number: 3
6

In [ ]:
str_a = "Python"
str_b = " is a "
str_c = "times fun language"
num = 1000

str_ab = str_a + str_b + str(num) + " " + str_c
print(str_ab)

str_a10 = str_a * 10
print(str_a10)

Python is a 1000 times fun language
PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [ ]:
num = int(input("enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
score = int(input("enter student score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

enter student score (0-100): 40
Fail

In [ ]:
a = int(input(" first number: "))
b = int(input(" second number: "))
c = int(input(" third number: "))
largest = max(a, b, c)
print("Largest number is:", largest)

 first number: 4
 second number: 8
 third number: 5
Largest number is: 8

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
grade_score = int(input("Enter score (0-100): "))
if 90 <= grade_score <= 100:
    print("Grade: A")
elif 80 <= grade_score <= 89:
    print("Grade: B")
elif 70 <= grade_score <= 79:
    print("Grade: C")
elif 60 <= grade_score <= 69:
    print("Grade: D")
else:
    print("Grade: F")

Enter score (0-100): 54
Grade: F

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
even_sum = 0
for i in range(1, 51):
    if i % 2 == 0:
        even_sum += i
print(even_sum)

650

In [ ]:
fact_num = int(input("Enter a number: "))
fact = 1
c = 1
while c <= fact_num:
    fact *= c
    c += 1
print(fact)

Enter a number: 6
720