<a href="https://colab.research.google.com/github/youmnaayman21/iti-P/blob/main/T3_ITI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
ages = [18, 21, 20, 19, 22, 23, 20, 21, 22, 19]
manual_mean = sum(ages) / len(ages)
numpy_mean = np.mean(ages)
print(manual_mean)
print(numpy_mean)

20.5
20.5

In [ ]:
nums = [np.random.randint(10, 50) for _ in range(15)]
sorted_nums = sorted(nums)
n = len(sorted_nums)
if n % 2 == 1:
    median = sorted_nums[n // 2]
else:
    median = (sorted_nums[n//2 - 1] + sorted_nums[n//2]) / 2
numpy_median = np.median(nums)
print(nums)
print(median)
print(numpy_median)

[30, 35, 42, 29, 16, 46, 37, 45, 16, 20, 11, 26, 32, 31, 15]
30
30.0

In [ ]:
min = min(nums)
max = max(nums)
range = max - min
min = np.min(nums)
max = np.max(nums)
range = max - min
print(min, max, range)
print(min, max, range)

11 46 35
11 46 35

In [ ]:
data = [5, 7, 3, 7, 9, 10, 15, 7]
mean_data = sum(data) / len(data)
variance = sum((x - mean_data) ** 2 for x in data) / len(data)
std = variance ** 0.5
variance = np.var(data)
std = np.std(data)
print(mean_data)
print(variance)
print(std)
print(variance)
print(std)

7.875
11.359375
3.370367190678191
11.359375
3.370367190678191

In [ ]:
dataset = [np.random.randint(1, 100) for _ in range(20)]
q1 = np.percentile(dataset, 25)
q2 = np.percentile(dataset, 50)
q3 = np.percentile(dataset, 75)
iqr = q3 - q1
print( dataset)
print( q1,  q2, q3, iqr)

[56, 82, 92, 15, 17, 85, 98, 96, 66, 38, 98, 76, 72, 71, 12, 93, 76, 17, 12, 37]
32.0 71.5 86.75 54.75

In [ ]:
def z_score_normalization(lst):
    mean_val = sum(lst) / len(lst)
    std_val = (sum((x - mean_val) ** 2 for x in lst) / len(lst)) ** 0.5
    return [(x - mean_val) / std_val for x in lst]

numbers = [10, 20, 30, 40, 50]
z_scores = z_score_normalization(numbers)
print( numbers)
print(z_scores)

[10, 20, 30, 40, 50]
[-1.414213562373095, -0.7071067811865475, 0.0, 0.7071067811865475, 1.414213562373095]

In [ ]:
rand_nums = [np.random.randint(1, 100) for _ in range(20)]
window_size = 3
m_moving = [sum(rand_nums[i:i+window_size]) / window_size for i in range(len(rand_nums) - window_size + 1)]
n_moving = np.convolve(rand_nums, np.ones(window_size)/window_size, mode='valid')
print( rand_nums)
print( m_moving)
print( n_moving)

[37, 31, 64, 19, 62, 91, 89, 64, 35, 18, 3, 39, 77, 48, 58, 74, 66, 37, 42, 73]
[44.0, 38.0, 48.333333333333336, 57.333333333333336, 80.66666666666667, 81.33333333333333, 62.666666666666664, 39.0, 18.666666666666668, 20.0, 39.666666666666664, 54.666666666666664, 61.0, 60.0, 66.0, 59.0, 48.333333333333336, 50.666666666666664]
[44.         38.         48.33333333 57.33333333 80.66666667 81.33333333
 62.66666667 39.         18.66666667 20.         39.66666667 54.66666667
 61.         60.         66.         59.         48.33333333 50.66666667]

In [ ]:
data_with_outliers = list(range(1, 26)) + [300, 400]
q1 = np.percentile(data_with_outliers, 25)
q3 = np.percentile(data_with_outliers, 75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
outliers = [x for x in data_with_outliers if x < lower_bound or x > upper_bound]
print( data_with_outliers)
print( outliers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 300, 400]
[300, 400]